<ion-header>
  <img
    class="header-logo"
    src="https://padolabs.github.io/assets/img/PadoLabsLogo.webp"
    alt=""
  />
</ion-header>

<ion-content color="dark" [fullscreen]="true">

  <ion-breadcrumbs class="breadcrumbs" color="light">
    <ion-breadcrumb href="">Home</ion-breadcrumb>
    <ion-breadcrumb href="cidades">Cidades</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-card class="cidades" *ngFor="let cidade of cidades">
    <img class="img" [src]="cidade.cityImage" />
    <ion-card-header>
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-title>{{cidade.cityName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text> {{cidade.cityShortDescription}} </ion-text>
      <ion-button class="button" (click)="goToPage(cidade)">
        <ion-text>visualizar cidade</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
