<ion-content>
  <div class="content">

    <img
      class="header-logo"
      src="https://padolabs.github.io/assets/img/PadoLabsLogo.webp"
      alt=""
    />

    <div class="login">
      <ion-input[(ngModel)]="email" type="email" placeholder="Login"></ion-input>
      <ion-input[(ngModel)]="password" type="password" placeholder="Senha"></ion-input>
      <ion-button class="btn" (click)="onSubmit()" > Entrar </ion-button>
      <!--  <ion-input placeholder="Login"></ion-input>
      <ion-input placeholder="Senha" type="password" ></ion-input>
      <ion-button class="btn" > Entrar </ion-button> -->
    </div>

    <ion-buton class="p" (click)="goToPage()" fill="clear"> NÃO TEM CONTA? <b> REGISTRE-SE</b></ion-buton>

    <!-- <p class="p">NÃO TEM CONTA? <b>REGISTRE-SE</b></p> -->

  </div>
</ion-content>
