<ion-content>
  <div class="content">

    <img
      class="header-logo"
      src="https://padolabs.github.io/assets/img/PadoLabsLogo.webp"
      alt=""
    />

    <div class="login">
      <ion-input placeholder="NOME COMPLETO"></ion-input>
      <ion-input placeholder="EMAIL" type="email" ></ion-input>
      <ion-input placeholder="SENHA" type="password" ></ion-input>
      <ion-input placeholder="UF"></ion-input>
      <ion-input placeholder="CIDADE"></ion-input>
      <ion-button class="btn" > Registrar </ion-button>
    </div>

    <ion-button class="btn-voltar" color="light" (click)="goToPage()"> VOLTAR </ion-button>

  </div>
</ion-content>
